@model BookMarket.Models.Title

@{
    ViewData["Title"] = "Create";
}

<h4>Create Book</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="type" class="control-label form-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AuthId" class="control-label form-label"></label>
                <select asp-for="AuthId" class ="form-control" asp-items="ViewBag.AuthId"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Notes" class="control-label  form-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ImageUrl" class="control-label  form-label"></label>
                <input asp-for="ImageUrl" class="form-control" type="file" name="ImageUrl" id="uploadBox"/>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label  form-label"></label>
                <input asp-for="Price" class="form-control" type="number" min="0" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PubId" class="control-label  form-label"></label>
                <select asp-for="PubId" class ="form-control" asp-items="ViewBag.PubId"></select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PubDate" class="control-label  form-label"></label>
                <input asp-for="PubDate" class="form-control" type="date"/>
                <span asp-validation-for="PubDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning mx-2">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
