@model BookMarket.Models.Publisher

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Publisher Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PubName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PubId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-info mx-2">Back to List</a>
</div>
