@using Microsoft.AspNetCore.Identity
@using BookMarket.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-body" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				@if (User.IsInRole("admin"))
				{
					<span class="badge bg-danger">Admin</span>
				}
				@if (User.IsInRole("seller"))
				{
					<span class="badge bg-warning">Seller</span>
				}
				@if (User.IsInRole("user"))
				{
					<span class="badge bg-success">User</span>
				}
				@User.Identity.Name
			</a>

			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
				<li>
					<a class="dropdown-item text-body" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
				</li>
				<li>
					<form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post">
						<button type="submit" class="dropdown-item text-body">Logout</button>
					</form>
				</li>
			</ul>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-body" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-body" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
